.testimonials-v3 {
    padding: 0px 100px 0px;
    border-radius: 10px;
    position: relative;
    outline: none;

    @media (max-width: 768px) {
        padding: 0px;
    }

    .slick-dots {
        display: inline-block;
        padding: 0;
        margin-top: 50px;
        margin-bottom: 0;
    }

    .slick-dots li {
        display: inline-block;
        margin: 0 5px;
        text-indent: -999999px;
        height: 10px;
        width: 10px;
        border: 1px solid #677294;
        border-radius: 50%;
        cursor: pointer;
        font-size: 7px;
        line-height: 1;
    }

    .slick-dots li.slick-active {
        background: $primary-color;
        border-color: $primary-color;
    }

    .slick-slide {
        outline: none;
    }

    .slick-list {
        padding: 0 !important;
    }

    &__controls {
        max-width: 645px;
        margin: auto;
        transition: 0.5s;
        outline: none;

        img {
            padding: 0 15px;
            opacity: 0.25;
            cursor: pointer;
            width: 100px;
            transition: 0.5s;
            border-radius: 50%;
            background: #ffffff;
            margin: auto;
        }

        .slick-center img {
            cursor: auto;
            opacity: 1;
        }
    }
    &__quotes {
        max-width: 580px;
        margin: 50px auto 0;
        background: #fff;
        position: relative;
        outline: none;

        h4 {
            font-size: 14px;
            margin-bottom: 20px;
        }

        p {
            font-size: 20px;
            margin-bottom: 0px;
        }
    }
}
